body {
  font-size: 16px;
}
.container {
  text-align: center;
}
.congrats{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-wight: 300;
  margin-top: 0.5em;
}

.homercat {
  width: 100%;
  height: auto;
  position: relative;
}

.homercat img {
  width: 60%;
  height: auto;
}

.eye {
  width: 80px; /*required, but can be any value*/
  height: 80px; /*required, but can be any value*/
  background: #fff; /*recommended, but can any value*/
  -webkit-border-radius: 50%; /*optional -- compatibiliy only*/
  -moz-border-radius: 50%; /*optional -- compatibiliy only*/
  border-radius: 50%; /*optional*/
  border: 0px solid rgba(0,0,0,1); /*optional*/
  float: left;
}

.iris {
  background: #000; /*recommended, but can any value*/
  width:15px; /*required, but can be any value*/
  height:15px; /*required, but can be any value*/
  -webkit-border-radius: 50%; /*optional -- compatibiliy only*/
  -moz-border-radius: 50%; /*optional -- compatibiliy only*/
  border-radius: 50%; /*optional*/
}

#wrap {
  /*margin: 50px auto 0;*/
  width: 100%;
  height: auto;
  position: absolute;
  top: 29.5%;
  /*transform: translateX(-53%);
  -webkit-transform: translateX(-53%);*/
}

.eye-1 {
  position: absolute;
  left: 41.5%;
}

.eye-2 {
  position: absolute;
  left: 44%;
}

@media screen and (max-width: 992px) {
  #wrap {
    display: none
  }
}
